#TXT {
    
    -fx-background-radius: 0;
    -fx-background-color: rgba(192, 192, 192, 0.5);
    -fx-font-weight: bold;
}

#hbx {
    -fx-background-color: rgba(192, 192, 192, 0.5);
}


.myClass {
    -fx-fill: red;
}

.classLabel {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}